secrets/
*.json
!backend/app/vercel.json
!frontend/package.json
!frontend/package-lock.json
!frontend/xray-web/package-lock.json
!frontend/xray-web/package.json
.env
xrayenv
__pycache__
test.py
test.ipynb
TODO.txt
references.txt
info/
html_cache/
*.csv
!backend/app/loughran-mcdonald.csv
backend/app/scripts/pagespeed.py
backend/app/scripts/twikit_fetcher.py
backend/app/scripts/yfinance_fetcher.py