secrets/
*.json
!backend/app/vercel.json
!frontend/package.json
!frontend/package-lock.json
!frontend/xray-web/package-lock.json
!frontend/xray-web/package.json
.env
xrayenv
__pycache__
test.py
test.ipynb
TODO.txt
references.txt
info/
html_cache/
*.csv