@font-face {
  font-family: 'Playfair Display';
  src: local('Playfair Display'),
       url('./PlayfairDisplay/PlayfairDisplay-Regular.ttf') format('truetype'),
       url('./PlayfairDisplay/PlayfairDisplay-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display Bold';
  src: local('Playfair Display Bold'),
       url('./PlayfairDisplay/PlayfairDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
