beautifulsoup4==4.13.4
fastapi==0.115.12
numpy==2.2.6
pandas==2.2.3
pygooglenews==0.1.3
python-dotenv==1.1.0
Requests==2.32.3
scipy==1.15.3
selenium==4.32.0
uvicorn==0.34.2
vaderSentiment==3.3.2
webdriver_manager==4.0.2
wikipedia==1.4.0
yfinance==0.2.59
